<article>
    <h1 i18n>✨ Step 4: Report</h1>

    <p i18n>
        You have completed the <strong>GenAI reflection tool</strong>! To generate the report,
        please enter your name and click the button below.
    </p>

    <form [formGroup]="form" (ngSubmit)="generateReport()" class="mb-5">
        <label for="name" class="form-label" i18n>Your name:</label>
        <input
            id="name"
            type="text"
            class="form-control"
            [formControl]="form.controls.name"
            placeholder="Enter your name..."
            i18n-placeholder
        />
    </form>

    <div class="btn-group">
        <button (click)="generateReport()" class="btn btn-secondary" i18n>Generate report</button>
        @if (reportHtml) {
            <button (click)="downloadReport()" class="btn btn-secondary" i18n>Download report</button>
        }
    </div>

    @if (reportHtml) {
        <div class="report-container" [innerHTML]="reportHtml">
        </div>
    }

</article>

<gr-nav-buttons [navButtons]="navButtons" />
