<div class="d-flex flex-column align-items-center justify-content-center gap-3">
    <img
        ngOptimizedImage
        ngSrc="assets/home.jpg"
        alt="Three Step Reflection Tool"
        class="img-fluid mb-4"
        width="500"
        height="333"
    />

    <h1 class="title" i18n>Generative AI - A three-step reflection tool</h1>

    <h2>🌍 🚀 🌙</h2>

    <p i18n>Select your department to begin</p>

    <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="startGkg()"
        i18n
    >
        GKG
    </button>

    @if (languages && !loading) {
        <div class="btn-group mt-5" role="group" aria-label="Language selection">
            @for (language of languages; track language.code) {
                <input id="{{ language.code }}" class="btn-check" type="radio" name="language" value="{{ language.code }}" autocomplete="off" [checked]="language.code == currentLanguage" (click)="setLanguage(language.code)">
                <label class="btn btn-outline-secondary" for="{{ language.code }}" i18n>{{ language.name }}</label>
            }
        </div>
    }
</div>
