<div class="d-flex flex-column align-items-center justify-content-center gap-3">
    <img
        ngOptimizedImage
        ngSrc="assets/home.jpg"
        alt="Three Step Reflection Tool"
        class="img-fluid mb-4"
        width="500"
        height="333"
    />

    <h1 class="title" i18n>Generative AI - A three-step reflection tool</h1>

    <h2>🌍 🚀 🌙</h2>
    @if (languages) {
        <li class="nav-item" ngbDropdown>
            <button
                class="nav-link"
                ngbDropdownToggle
                id="language-dropdown-toggle"
                aria-label="language"
                i18n-aria-label
            >
                @if (loading) {
                    <span
                        class="spinner-border spinner-border-sm"
                    ></span>
                    <span class="visually-hidden" i18n
                        >Loading languages...</span
                    >
                } @else {
                    <fa-icon [icon]="faGlobe" aria-hidden="true" />
                }
            </button>
            <div
                ngbDropdownMenu
                aria-labelledby="language-dropdown-toggle"
                class="dropdown-menu dropdown-menu-end"
            >
                @for (language of languages; track language) {
                    <button
                        ngbDropdownItem
                        class="navbar-item"
                        [class.active]="
                            language.code == currentLanguage
                        "
                        [attr.aria-pressed]="
                            language.code == currentLanguage
                        "
                        (click)="setLanguage(language.code)"
                    >
                        {{ language.name }}
                    </button>
                }
            </div>
        </li>
    }
    <p i18n>Select your department to begin</p>

    <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="startGkg()"
        i18n
    >
        GKG
    </button>
</div>
