@import "../../variables";

.attribution-banner {
    border: 1px solid $primary-dark;
    background-color: $primary-light;
    padding: 1rem;
    border-radius: 0.25rem;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

img {
    max-width: 400px;
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.btn-group {
    gap: unset;
}
