<article>
    <h1 i18n>🚀 Step 2: Assessment Forms</h1>

    <p i18n>
        In this step, you will receive information on how students can make use
        of GenAI for the assessment forms in your course.
    </p>

    <p i18n>
        After adding an assessment form, you decide whether the use of GenAI is
        a problem in this context, based on the ILOs that are tested. If you
        consider the use of GenAI in the assessment a problem, the tool suggests
        alternatives.
    </p>

    <p i18n>
        Next, pick one or more intended learning outcomes that are assessed in
        this way and whose assessment could be affected by the use of GenAI.
    </p>

    <div class="d-flex flex-column gap-4">
        @for (subForm of form.controls.assessmentForms.controls; track $index) {
        <gr-assessment-form-subform
            [subFormId]="$index.toString()"
            [subForm]="subForm"
            (removeForm)="removeAssessmentForm($index)"
        />
        }
        <div class="col-md-6 col-xl-4 g-3 d-flex align-items-center">
            <button
                class="btn btn-outline-dark d-flex flex-column"
                (click)="addAssessmentForm()"
                aria-labelledby="add-assessment-form"
                title="Add assessment form"
                i18n-title
            >
                <fa-icon
                    [icon]="faPlus"
                    aria-hidden="true"
                    focusable="false"
                ></fa-icon>
                <span id="add-assessment-form" i18n>Add form</span>
            </button>
        </div>
    </div>
</article>

<gr-nav-buttons [navButtons]="navButtons" />
