<article>
    <h1 i18n>What is this tool for?</h1>

    <p i18n>
        Welcome to the <strong>GenAI reflection tool</strong>. The aim of this
        tool is to stimulate <strong>reflection</strong> on the impact of
        generative AI on academic teaching. Students can use generative AI for
        almost all assignments. The question whether assessment forms need to be
        adapted as a consequence of this, depends on the
        <strong>intended learning outcomes</strong> that the assignments test.
        This is why this tool aims to make an explicit link between assessment
        forms and learning outcomes. Wherever the use of generative AI is
        considered problematic, the tool provides
        <strong>alternative assessment forms</strong>, or stimulates you to
        consider changing the learning outcomes.
    </p>

    <p i18n>This tool consists of three subsequent steps:</p>

    <ul>
        <li i18n>
            <strong class="step-title"
                >Step 1: Learning outcomes analysis
            </strong>
            clarify and map your course goals
        </li>
        <li i18n>
            <strong class="step-title">Step 2: Assessment forms</strong>
            assess whether the use of generative AI in assignments negatively
            impacts the learning outcomes
        </li>
        <li i18n>
            <strong class="step-title"
                >Step 3: Ideas for integrating generative AI in your course
            </strong>
            explore how generative AI can be used to enhance your course
        </li>
    </ul>
</article>

<article>
    <h3 i18n>Before we begin...</h3>
    <p i18n>
        Please provide the name of your course and the name of the lecturers. This will personalize the final
        report.
    </p>
    <form [formGroup]="form" (ngSubmit)="submitCourseName($event)">
        <div class="container">
            <div class="row g-3">
                <div class="col-md-6">
                    <label for="course" class="form-label" i18n>Course name</label>
                    <input
                        id="course"
                        type="text"
                        class="form-control"
                        [formControl]="form.controls.course"
                        placeholder="Enter the name of your course..."
                        i18n-placeholder
                    />
                </div>
                <div class="col-md-6">
                    <label for="lecturers" class="form-label" i18n>Lecturers</label>
                    <input
                        id="lecturers"
                        type="text"
                        class="form-control"
                        [formControl]="form.controls.lecturers"
                        placeholder="Enter the name of the lecturers..."
                        i18n-placeholder
                    />
                </div>
            </div>
        </div>


    </form>
</article>

<gr-nav-buttons [navButtons]="navButtons" />
