<div class="mt-4">
    <label class="form-label fw-bold" i18n>
        Known AI Uses for this assessment form
    </label>
    <p class="text-muted" i18n>Click the bars below to see examples of ways in which students may use GenAI for this assessment form.</p>
    <div ngbAccordion>
        @for (aiUse of knownAiUses(); track aiUse.id) {
        <div ngbAccordionItem>
            <div ngbAccordionHeader>
                <button ngbAccordionButton>{{ aiUse.text }}</button>
            </div>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>
                        <ul>
                            @for (example of aiUse.examples; track example.id) {
                            <li>{{ example.text }}</li>
                            }
                        </ul>
                    </ng-template>
                </div>
            </div>
        </div>
        }
    </div>
</div>
