@use "bootstrap";

// Import UU-Bootstrap (except for "fonts")
@import "bootstrap/scss/mixins/banner";
@include bsBanner("");
@import "uu-bootstrap/scss/configuration";
@import "uu-bootstrap/scss/components";

@font-face {
    font-family: "Open Sans";
    src: url("./assets/fonts/OpenSans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("./assets/fonts/OpenSans-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Merriweather";
    src: url("./assets/fonts/Merriweather.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Merriweather";
    src: url("./assets/fonts/Merriweather-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@media print {
    .is-hidden-print,
    .is-hidden-print * {
        display: none !important;
    }

    .is-print-paddingless {
        padding: 0 !important;
    }
}

// Overrides Bootstraps's `display: none;` for `.invalid-feedback` elements.
.always-block {
    display: block !important;
}

body {
    margin: 0;
    background-color: $primary;
}

.gr-table th,
.gr-table td {
    padding: 1em;
}


