@use "bootstrap";

// Import UU-Bootstrap (except for "fonts")
@import "bootstrap/scss/mixins/banner";
@include bsBanner("");
@import "uu-bootstrap/scss/configuration";
@import "uu-bootstrap/scss/components";

@media print {
    .is-hidden-print,
    .is-hidden-print * {
        display: none !important;
    }

    .is-print-paddingless {
        padding: 0 !important;
    }
}

// Overrides Bootstraps's `display: none;` for `.invalid-feedback` elements.
.always-block {
    display: block !important;
}

body {
    margin: 0;
    background-color: $primary;
}
