@use "sass:color";
@import "uu-bootstrap/scss/configuration";

.example-item-group {
    border-radius: .25rem;
    cursor: pointer;
}

.example-item {
    cursor: pointer;
    background-color: $white;

    &.selected {
        background-color: $cream;
    }

    &:hover {
        background-color: color.adjust($cream, $lightness: -5%);
    }
}

.no-items {
    cursor: default;
}

.small-ai-scale-image {
    cursor: pointer;
}

.modal {
    background-color: rgba(0, 0, 0, 0.8);

    .modal-header {
        background-color: transparent;
    }
}

.lightbox-caption {
    background-color: white;
    padding: 1rem;
}
